{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <h1>Регистрация</h1>
   
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-grid gap-2 col-2 mx-auto">
                    <button type="submit" class="btn btn-outline-dark">Регистрация</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}